.appWrapper {
    display: inline-flex;
    margin: 200px auto;
}

.counterWrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    border: #0cdfff solid 3px;
    border-radius: 5px;
    background-color: lightslategray;
    margin: 50px;
}

.display {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 220px;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: #0cdfff;
    font-size: 40px;
    font-weight: bold;
}

.displayRed {
    color: red;
}

.buttons {
    margin: 10px auto;
    padding: 10px;
    display: inline-flex;
    justify-content: space-around;
    border: #0cdfff solid 3px;
    border-radius: 5px;
    width: 220px;
}

.button {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #0cdfff;
    font-size: 20px;
}

.inputAreaWrapper {
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 220px;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: #0cdfff;
    font-size: 20px;
    font-weight: bold;
}

.inputArea {
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

input {
    width: 50px;
    font-size: 20px;
    text-align: center;
}